@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.board{
  padding: 10px;
  height: auto;
  width: 680px;
  background-color: #9fb1c1;
  border: 10px solid #1d1d86;

  margin: 0 auto;
}

.tile{
  height: 80px;
  width: 80px;
  margin: 5px;

  background-color: white;
  border-radius: 50%;
  border: 5px solid #262654;
}

.red-piece {
  background-color: #565625;
}

.red-piece {
  background-color: #481212;
}
